name: Flutter Pokemon Application

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "beta"

      - name: Enable Flutter Web
        run: flutter config --enable-web

      - name: Install dependencies
        run: flutter packages get

      - name: Build Web
        run: flutter build web

      - name: Build Actions
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{secrets.token}}
          publish_dir: ./build/web
